<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boolean & Boolean operations & Comparisons and equality</title>
</head>
<body>
<p><b>布尔</b></p>
<p th:text=true>布尔字面量</p>
<p th:if="${married}">已婚</p>
<p th:if="${age} &gt; 18">已成年</p>
<p th:if="${age} &lt; 18">未成年</p>
<p th:if="${married} and ${age} &lt; 18">已婚未成年</p>
<br/>
<p><b>比较和相等</b></p>
<p th:if="10&gt;2 and 5!=6">10大于2 且 5 不等于 6</p>
<p th:if="${isLogin}">已登录</p>
<p th:if="not(false)">not(false)</p>
<p th:if="!false">!false</p>
</body>
</html>